html {
  font-family: sans-serif;
  font-size: 20px;
}

div{
  width: 10rem;/*200/20 = 10*/
  height: 10rem;/*200/20 = 10*/
  background: rgb(103, 104, 204);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%,
   rgba(0, 0, 0, 0.2) 30%);
  color: rgb(230, 206, 176);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  box-shadow: black 1px 1px 10px;
  box-shadow:rgb(255, 255, 255) 4px 4px 10px inset,
  rgb(0, 0, 0) -4px -4px 10px inset,
  rgb(0, 0, 0) 0px 0px 10px;
  margin: auto;
  text-align: center;
  line-height: 10em;
  border-radius: 10px;
  border: 1px solid rgb(68, 52, 138);

}
/* Your CSS below here */